 # /node_modules/* in the project root is ignored by default
 /node_modules/*

# build artefacts
dist/*
build/*
coverage/*
# data definition files

jest.config.js
**/*.d.ts
types
.eslintrc
.prettierrc
package.json
package-lock.json
tsconfig.json
tsconfig.eslint.json
jest.unit.json
nodemon.json
yarn.lock!/lint-staged.config.js
!/scriptlint.config.js
tsoa.json

