{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:eslint-plugin-json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "project": "./tsconfig.json",
    "extraFileExtensions": [
      ".json"
    ]
  },
  "plugins": [
    "prettier",
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "rules": {
    "guard-for-in": 0,
    "no-restricted-syntax": 0,
    "import/no-unresolved": "off",
    "no-useless-constructor":"off",
    "prettier/prettier": [
      "error"
    ],
    "semi": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-multiple-empty-lines": [
      "error",
      {
        "max": 1,
        "maxBOF": 0,
        "maxEOF": 0
      }
    ],
    "camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": false
      }
    ],
    "@typescript-eslint/no-explicit-any": 1,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "consistent-return": "off",
    "array-callback-return": "off",
    "no-underscore-dangle": "off",
    "no-empty-function": "warn",
    "no-shadow": "off",
    "no-new": 0,
    "@typescript-eslint/no-shadow": [
      "error"
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "class-methods-use-this": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  }
}
